.stafflog {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}

.stafflog0 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog2 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog3 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog4 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog5 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog6 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog7 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}







.stafflog8 {
    font-family: Monaco, monospace;
    color: white;
    background-color: black;
}















